# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create lists
- Create tables

In [ ]:
Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. tabulate
4. pprint

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expression in Python.

In [4]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author

Jing